html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, label, textarea, p, span, div {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-family: "PingFang SC", "Microsoft YaHei", SimSun, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  background-color: #F8F9FA;
}

a {
  color: teal;
}

a:hover {
  color: #018080;
}

::selection {
  color: #fff;
  background-color: #008080;
}

.see-container {
  position: relative;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

.flex_box {
  position: relative;
  display: flex;
  align-items: center;
}

.flex_box_between {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_cell_primary {
  position: relative;
  flex: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer.disabled {
  cursor: not-allowed;
}

.hover-blue:hover {
  color: #0f6cd8;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  position: absolute;
  /**/
}

::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-corner {
  background: #179a16;
}

.red {
  color: #d9001b;
}

.yellow {
  color: #fa541c;
}

.teal {
  color: #007979;
}

.sale-flag {
  width: 74px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.sale-flag.sale-flag--begin {
  background-color: #f59a23;
}

.sale-flag.sale-flag--process {
  background-color: #d9001b;
}

.sale-flag.sale-flag--recommend {
  background-color: teal;
}
