$black_1: #000;
$black_2: #333;
$black_3: #666;
$black_4: #999999;
$blue: #1890ff;
$blue_1: #35c3ff;
$blue_2: #3f9fbe;
$blue_3:#007AFF;
$green: #7ed321;
$green_1: #00c686;
$yellow: #fccc00;
$yellow_1: #f8b700;
$red: #f86565;
$red_1: #f52a2a;
$gray_1: #e5e5e5;
$gray_2: #f0f0f0;
$gray_3: #ececec;
$gray_4: #f6f6f8;
$white_1: #ffffff;
$delete_color: #FF5547;

$homePageWidth: 1366px;